html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.title {
  font-size: 56px;
  line-height: 69px;
  font-weight: 500;
  color: black;
}

.mintitle {
  font-size: 32px;
  font-weight: 500;
  color: black;
}

.item__title {
  font-family: 'Gilroy';
  font-size: 24px;
  font-weight: 700;
  color: black;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Light"), local("Gilroy-Light"), url("/fonts/Gilroy-light/Gilroy-Light.woff2") format("woff2"), url("/fonts/Gilroy-light/Gilroy-Light.woff") format("woff"), url("/fonts/Gilroy-light/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff"), url("/fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 300;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.header__container {
  max-width: 1346px;
  margin: 0 auto;
  padding: 0 10px;
}

.find__container {
  max-width: 1440px;
  margin: 0 auto;
}

.find__item-wrapper {
  max-width: 441px;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  background-color: #FAFAFA;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  height: 116px;
}
.header__menu {
  display: flex;
  gap: 31px;
  justify-content: space-between;
}
.header__button {
  width: 150px;
  height: 43.5px;
  border-radius: 5px;
  background-color: #FAFAFA;
  color: #F7941E;
  border: 1px solid #F7941E;
  transition: .3s all;
}
.header__button:hover, .header__button:focus {
  background-color: #F7941E;
  color: #fff;
}
.header__burger {
  display: none;
  width: 32px;
  height: 16px;
  position: relative;
}
.header__burger span, .header__burger::after, .header__burger::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  transition: .3s ease-in-out;
}
.header__burger::after {
  top: 0;
}
.header__burger span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
}
.header__burger::before {
  bottom: 0;
}
.header__burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header__burger.active span {
  transform: scale(0) translate(0, -50%);
}
.header__burger.active::before {
  bottom: 50%;
  transform: rotate(-45deg) translate(0, 50%);
}

.menu__link {
  opacity: .6;
  transition: .3 ease-in-out;
}
.menu__link:hover, .menu__link:focus {
  opacity: 1;
}

.popup {
  display: none;
}

.find {
  background-color: #FAFAFA;
}
.find__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
  padding-top: 116px;
  width: 100%;
  margin-bottom: 96px;
}
.find__grid-items {
  align-content: center;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.find__grid-items.find-padding {
  padding: 0 20px;
}
.find__grid-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: contain;
}
.find__grid-items:last-child {
  background-color: #FAFAFA;
}
.find__item-title {
  max-width: 433px;
  margin-bottom: 36px;
}
.find__item-text {
  max-width: 422px;
  font-size: 20px;
  margin-bottom: 52px;
}
.find__item-button {
  width: 200px;
  height: 40px;
  border: 1px solid #F7941E;
  background-color: #fff;
  transition: .3s ease-in-out;
  margin-bottom: 135px;
  color: #F7941E;
}
.find__item-button:nth-child(2) {
  background-color: #FAFAFA;
}
.find__item-button:hover, .find__item-button:focus {
  background-color: #F7941E;
  color: #fff;
}
.find__item-mintitle {
  margin: 20px 0px 23px 0px;
}

.gift__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gift__mintitle {
  margin-bottom: 23px;
  line-height: 39px;
}
.gift__subtitle {
  margin-bottom: 64px;
  line-height: 25px;
}
.gift__rows {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 137px;
  flex-wrap: wrap;
}
.gift__item {
  background-color: #FAFAFA;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.gift__item.active {
  background-color: #fff;
  -webkit-box-shadow: 6px 8px 11px 6px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 6px 8px 11px 6px rgba(34, 60, 80, 0.08);
  box-shadow: 6px 8px 11px 6px rgba(34, 60, 80, 0.08);
}
.gift__item-bottom {
  padding: 24px;
}
.gift__item-text {
  margin-bottom: 74px;
}
.gift__item-link {
  position: relative;
  display: block;
  max-width: 120px;
  height: 20px;
  font-size: 14px;
}
.gift__item-link::after {
  position: absolute;
  content: '>';
  top: 1px;
  padding-left: 10px;
  transition: .3s all;
}
.gift__item-link:hover::after {
  padding-left: 20px;
}

.ready__bg {
  width: 100%;
  height: 240px;
  background-color: #F7941E;
  margin-bottom: 88px;
}
.ready__container {
  max-width: 970px;
  margin: 0 auto;
}
.ready__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  flex-wrap: wrap;
}
.ready__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.ready__caption-title {
  font-family: 'Gilroy';
  font-size: 32px;
  font-weight: 700;
  color: black;
}
.ready__caption-subtitle {
  font-family: 'Gilroy';
  font-size: 32px;
}
.ready__buttons {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}
.ready__button {
  width: 200px;
  height: 50px;
  transition: .3s all;
  border-radius: 5px;
  background-color: #F7941E;
  border: 1px solid black;
  color: black;
}
.ready__button:hover {
  background-color: black;
  color: #fff;
}

.blogs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogs__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 71px;
}
.blogs__caption-mintitle {
  line-height: 38px;
  margin-bottom: 23px;
}
.blogs__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
  flex-wrap: wrap-reverse;
  margin-bottom: 40px;
  width: 100%;
  color: #fff;
  background-color: black;
}
.blogs__main-img img {
  width: 100%;
}
.blogs__main-caption {
  display: flex;
  flex-direction: column;
  width: 692px;
}
.blogs__main-author {
  margin-bottom: 27px;
}
.blogs__main-title {
  max-width: 492px;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 60px;
  color: #fff;
}
.blogs__main-more {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 140.62%;
}
.blogs__items {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex: 1 1 auto;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 80px;
}
.blogs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  width: 570px;
  transition: .3s all;
  cursor: pointer;
  border: 0.5px solid rgba(34, 60, 80, 0.3);
}
.blogs__item.active {
  background-color: #fff;
  -webkit-box-shadow: 6px 8px 11px 6px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 6px 8px 11px 6px rgba(34, 60, 80, 0.08);
  box-shadow: 6px 8px 11px 6px rgba(34, 60, 80, 0.08);
}

.blog__item-title {
  margin-bottom: 16px;
  max-width: 474px;
  line-height: 140.62%;
}
.blog__item-text {
  line-height: 140.62%;
  max-width: 474px;
  margin-bottom: 16px;
}
.blog__item-more {
  font-size: 14px;
  line-height: 140.62%;
}

.footer {
  padding-bottom: 35px;
  padding-top: 106px;
  background-color: #FAFAFA;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer__menu {
  display: flex;
  column-gap: 80px;
}
.footer__menu-link {
  opacity: 0.7;
  transition: .3s all;
}
.footer__menu-link:hover {
  opacity: 1;
}
.footer__decoration {
  height: 1px;
  width: 80%;
  align-self: center;
  background-color: black;
  margin-bottom: 56px;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-bottom: 73px;
}
.footer__privat {
  display: flex;
  gap: 14px;
}

@media screen and (max-width: 576px) {
  body.lock {
    overflow: hidden;
  }

  .header .menu {
    display: none;
  }
  .header__nav {
    height: 70px;
  }
  .header__burger {
    display: block;
  }

  .popup {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    z-index: 10;
    transition: .3s all;
    background-color: #fff;
  }
  .popup.open {
    left: 0;
  }
  .popup .header__menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    font-size: 48px;
  }
}
