@import './base/reset';

@import './base/vars';

@import './base/media__breakpoints';

@import './base/fonts';

@import './base/base';

@import './blocks/header';

@import './blocks/find';

@import './blocks/gift';

@import './blocks/ready';

@import './blocks/blogs';

@import './blocks/footer';

// media 

@import './blocks/media/media-header'