.ready {

    &__bg {
        width: 100%;
        height: 240px;
        background-color: $color-text-button;
        margin-bottom: 88px;
    }

    &__container {
        max-width: 970px;

        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 240px;
        flex-wrap: wrap;
    }

    &__caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__caption-title {
        font-family: 'Gilroy';
        font-size: 32px;
        font-weight: 700;
        color: $color-black;
    }

    &__caption-subtitle {
        font-family: 'Gilroy';
        font-size: 32px;
    }

    &__buttons{
        display: flex;
        column-gap: 16px;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }

    &__button {
        width: 200px;
        height: 50px;
        transition: .3s all;
        border-radius: 5px;
        background-color: $color-button-hover;
        border: 1px solid $color-black;
        &:hover{
            background-color: $color-black;
            color: $color-main;
        }
    }
}
