body {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    background-color: $color-main;
}

a{
    text-decoration: none;
    color: $color-black;
}

.header__container{
    max-width: 1346px;
    margin: 0 auto;
    padding: 0 10px;
}

.find__container {
    max-width: 1440px;
    margin: 0 auto;
    
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}